<!-- Partial intended to be overwritten to add custom headers, like CSS or any other info -->
<meta name="theme-color" content="#f1f1f1">

    <link rel="manifest" href="/manifest.json">
    <base href="/">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="CLEAResult Devops University PWA">
    <link rel="apple-touch-icon" href="/images/icons/icon-152x152.png">

   <!-- <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@justinribeiro">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="JustinRibeiro.com">
    <meta property="og:image" content="/images/manifest/me-2018-192.png" /> -->

    <link rel="preconnect" href="https://storage.googleapis.com/" crossorigin>
    <link rel="preconnect" href="https://www.google-analytics.com/" crossorigin>
    <link href="/data/chronicle/index.xml" rel="alternate" type="application/rss+xml" title="Justin Ribeiro" />
    <link href="/data/chronicle/index.xml" rel="feed" type="application/rss+xml" title="Justin Ribeiro" />

